.signin {
    display: inline-block;
    border: 1px solid gray;
    color: #065fd4;
    padding: 10px 20px;
    border-radius: 24px;    
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .signin:hover {
    background-color: #bee0fd;
    border: 1px solid transparent;
    transform: scale(1.03); /* Slightly enlarge on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */

  }


  /* Style for when there is only one button (sign out) */
.signInContainer {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

/* Style for when there are multiple buttons (sign in with Google and GitHub) */
.signInContainerMultiple {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signin + .signin {
    margin-top: 10px; /* Adds space between sign-in buttons */
}